# Introduction

In [1]:
#1

fio = "Ivanova Oksana Dmitrievna"
address = "Moscow, Russia, Tretyakovskaya 12/1"

print(fio)
print(address)

Ivanova Oksana Dmitrievna
Moscow, Russia, Tretyakovskaya 12/1

In [4]:
#2

name = input("please enter your name: ")
greetings = "Hello, " + name + "!"
print(greetings)

please enter your name: Oksana
Hello, Oksana!

In [10]:
#3

width = float(input("please enter the width: "))
lenght = float(input("please enter the length: "))

s = round(width*lenght, 2)

report = "The square of the room is " + str(s)

print(report)

please enter the width: 12
please enter the length: 19.44
The square of the room is 233.28

In [13]:
#4

width = float(input("please enter the width in footage: "))
lenght = float(input("please enter the length in footage: "))

s = width*lenght
s_acres = round(s/43560)

report = "There acreage is " + str(s_acres) 

print(report)

please enter the width in footage: 1000
please enter the length in footage: 5000.75
There acreage is 115

In [18]:
#5 

small = int(input("please enter the number of small bottles: "))
big = int(input("please enter the number of big bottles: "))

payment = 0.1*small + 0.25*big

report = "Thanks for the bottles! Your payment is " + str(payment) + "$!"
print(report)

please enter the number of small bottles: 5
please enter the number of big bottles: 3
Thanks for the bottles! Your payment is 1.25$!

In [12]:
#6

order = round(float(input("Please enter order price: ")), 2)
tips = round(0.18*order, 2)
tax = round(0.2*order, 2)
total = round((order + tips + tax), 2)

print("Your order: " + str(order) + "$")
print("Tips: " + str(tips) + "$")
print("Tax: " + str(tax) + "$")
print("Total: " + str(total) + "$")

Please enter order price: 120
Your order: 120.0$
Tips: 21.6$
Tax: 24.0$
Total: 165.6$

In [14]:
#7

n = int(input("Please enter number: "))
s = (n*(n+1))/2

print(s)

Please enter number: 9
45.0

In [17]:
#8

souvenir = 75
bauble = 112

souvenir_num = int(input("please enter amounts of souvenirs: "))
bauble_num = int(input("please enter amounts of baubles: "))

weight = souvenir*souvenir_num + bauble*bauble_num

print("Total weight of the package: " + str(weight) + " grams.")

please enter amounts of souvenirs: 3
please enter amounts of baubles: 4
Total weight of the package: 673 grams.

In [45]:
#9

dep1 = float(input("please enter initial deposit: "))

rate = 0.04

y1 = dep1*(1+rate)
y2 = y1*(1+rate)
y3 = y2*(1+rate)

print(round(y1,2))
print(round(y2,2))
print(round(y3,2))

please enter initial deposit: 182600
189904.0
197500.16
205400.17

In [57]:
#10

import math

a = int(input("please enter number a: "))
b = int(input("please enter number b: "))

s = a+b
r = a-b
p = a*b
d = a/b
m = a%b
l = round(math.log(a),1)
e = a**b

print("The sum is " + str(s))
print("The difference is " + str(r))
print("The product is " + str(p))
print("The modulo is " + str(m))
print("The log is " + str(l))
print("The modulo is " + str(m))
print("The elevate is " + str(e))

please enter number a: 5
please enter number b: 3
The sum is 8
The difference is 2
The product is 15
The modulo is 2
The log is 1.6
The modulo is 2
The elevate is 125

In [68]:
#11

mpg = float(input("Please enter mpg: "))


#l = 0.264172*g
#km100 = 62.1371*m

x = 0.264172/62.1371

lkm100 = x*mpg

print(lkm100)

Please enter mpg: 150
0.6377156320459115

In [81]:
#12


#distance = 6371.01*arccos(sin(t1)*sin(t2) + cos(t1)*cos(t2)*cos(g1-g2))

import math

t1 = float(input("Please enter first latitude: "))
g1 = float(input("Please enter first longitude: "))
print("Coordinates of the first point: " + "(" + str(t1) + ", " + str(g1) + ")")

t2 = float(input("Please enter second latitude: "))
g2 = float(input("Please enter second longitude: "))
print("Coordinates of the first point: " + "(" + str(t2) + ", " + str(g2) + ")")

rt1 = (math.pi/180)*t1
rt2 = (math.pi/180)*t2
rg1 = (math.pi/180)*g1
rg2 = (math.pi/180)*g2

sint1 = math.sin(rt1)
sint2 = math.sin(rt2)
cost1 = math.cos(rt1)
cost2 = math.cos(rt2)

cosg = math.cos(rg1 - rg2)

distance = round(6371.01*math.acos(sint1*sint2 + cost1*cost2*cosg),2)

print("The distance is " + str(distance) + " km")

Please enter first latitude: 15
Please enter first longitude: 120
Coordinates of the first point: (15.0, 120.0)
Please enter second latitude: 30
Please enter second longitude: -100
Coordinates of the first point: (30.0, -100.0)
The distance is 13427.59 km

In [7]:
#13

c200 = 200
c100 = 100
c25 = 25
c10 = 10
c5 = 5

cents = int(input("Please enter change amount in cents: "))

print(" ", cents // c200, "toonie(s)")
cents = cents % c200

print(" ", cents // c100, "loonie(s)")
cents = cents % c100

print(" ", cents // c25, "quarter(s)")
cents = cents % c25

print(" ", cents // c10, "dime(s)")
cents = cents % c10

print(" ", cents // c5, "nickel(s)")
cents = cents % c5

print(" ", cents, "cent(s)")

Please enter change amount in cents: 543
  2 toonie(s)
  1 loonie(s)
  1 quarter(s)
  1 dime(s)
  1 nickel(s)
  3 cent(s)

In [10]:
#14

pounds = int(input("Please enter your height in pounds: "))
inches = int(input("Please enter your height in inches: "))

inches = 12*pounds + inches

cm = round(2.54*inches,2)
           
           
print("Your height is ", str(cm), " cm")

Please enter your height in pounds: 6
Please enter your height in inches: 4
Your height is  193.04  cm

In [12]:
#15

f = float(input("Please enter distance in footage: "))

inches = round(12*f, 2)
yards = round((1/3)*f, 2)
miles = round((1/5280)*f, 2)

print(str(f), " feet is: ")
print(" ", str(inches), " inches")
print(" ", str(yards), " yards")
print(" ", str(miles), " miles")

Please enter distance in footage: 5712.4
5712.4  feet is:
  68548.8  inches
  1904.13  yards
  1.08  miles